<div class="main-content">
  <div class="container-fluid">
     <!-- <div class="row">
          <div class="offset-1 col-sm-3">
              <button mat-raised-button type="submit"  class="btn btn-warning pull-right">Get This week syllabus</button>
          </div>
      </div>-->
      <div class="row" *ngIf="sylArray.length>0">
          <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let syllabus of sylArray">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <br>
                      <button mat-raised-button type="submit" (click)="getUserSyllabusById(syllabus)" class="btn btn-warning pull-right">{{syllabus}}</button>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <a href="javascript:void(0)">This week syllabus</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row" *ngIf= "questionAnswers.length >0">
          <div class="col-md-10 col-md-12" >
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Question and Answers</h4>
                  </div>
                  <div class="card-body" *ngFor="let questionAnswersArray of questionAnswers">
                      <h4><b>{{questionAnswersArray.question}}</b></h4>
                      <br>
                      <br>
                      <h4>{{questionAnswersArray.snippet}}</h4>
                  </div>
              </div>
          </div>
      </div>
          <div class="row" *ngIf="relatedTutorials.length>0" >
          <div class="col-md-10 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Tutorials</h4>
                  </div>
                  <div class="card-body" *ngFor="let relatedLink of relatedTutorials">
                      <div class="iframe-container d-none d-lg-block">
                          <h4>{{relatedLink.title}}</h4>
                          <a href={{relatedLink.link}} target="_blank" style="color: cornflowerblue;">{{relatedLink.link}}</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
