
<!DOCTYPE html>
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
</head>

<body class="bodytag">
<header>

  <section>
    <br>
    <br>
    <img class="rocky-dashed animate-pop-in"  width="30%" height="20%" src="../../assets/smart_learn_logo.png">
    <br>
    <br>
    <br>
    <br>
    <p class="header-button animate-pop-in">
      <!--<a  routerLink="/login" class="button">Get started </a>-->
      <button class="button"  [routerLink]="['/login']"style="font-size: large">Get Started</button>
    </p>
  </section>
</header>

</body>
</html>
